/* aboutus.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
    font-size: 36px;
}

/* aboutus.css */
.abstract-section {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.abstract-section h3 {
    font-size: 20px;
    margin-top: 0;
}

.abstract-section p {
    font-size: 16px;
}

}

.team-section {
    background-color: #f8f9fa;
    padding: 40px;
}

.team-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.team-members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.member {
    text-align: center;
    margin-bottom: 20px;
}

.member img {
    border-radius: 50%;
    margin-bottom: 10px;
}

.member h4 {
    margin: 0;
}

footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
    font-size: 18px;
}
