body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* สีพื้นหลังหลัก */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff; /* สีพื้นหลังของตัวกล่องที่ห่อหุ้มคอนเทนเนอร์ */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333; /* สีของข้อความหัวเรื่อง */
}

h2 {
    margin-top: 20px;
    color: #555; /* สีของข้อความหัวเรื่องย่อย */
}

input[type="file"] {
    display: block;
    margin-bottom: 10px;
}

button[type="submit"] {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #007bff; /* สีของปุ่ม */
    color: #fff; /* สีของข้อความบนปุ่ม */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3; /* สีของปุ่มเมื่อโฮเวอร์ */
}

.container {
    background-image: url(https://tenor.com/view/jm-gif-18068790282636308332); /* เพิ่มรูปภาพ */
    background-size: cover;
    background-position: center;
}
  
h1 {
    font-family: 'Poppins', sans-serif; /* Font ที่ทันสมัย */
}
  
h2 {
    font-family: 'Roboto', sans-serif; /* Font ที่ทันสมัย */
}