body {
    background-color: #ffffff; /* สีขาว */
}
.container {
    border: 1px solid #ddd; /* สีเทาอ่อน */
    padding: 20px;
}
h1 {
    font-size: 24px;
}
  
p {
    font-size: 16px;
}
button {
    background-color: #000000; /* สีดำ */
    color: #ffffff; /* สีขาว */
    font-size: 16px;
    padding: 10px;
    border: none;
}
  
button:hover {
    background-color: #333333; /* สีเทาเข้ม */
}
.image {
    display: block;
    margin: 0 auto;
    width: 200px;
}
  