<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Class scheduling Web App</title>
        <link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1>Welcome to Class Scheduling Web App</h1>
        <p>A Mathematical Model for Course Schedule at Department of Statistics, Faculty of Science, Khon Kaen University</p>
        <a href="{{ url_for('upload_page') }}"><button>Go to Upload File page</buttonUpload></a>
    </body>
</html>