<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload page</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/upload.css') }}">
</head>
<body>
    <header>
        <h1>Upload Files page</h1>
    </header>
    <main>
        <section class="upload-section">
            <form id="uploadForm" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
                <h2>Input Course (.csv file)</h2>
                <input type="file" name="file1" accept=".csv,.txt">
                <h2>Input Room (.csv file)</h2>
                <input type="file" name="file2" accept=".csv,.txt">
                <h2>Input Professor (.csv file)</h2>
                <input type="file" name="file3" accept=".csv,.txt">
                <h2>Input Student (.csv file)</h2>
                <input type="file" name="file4" accept=".csv,.txt">
                <button type="submit">Upload</button>
            </form>
            <a href="{{ url_for('home') }}" class="back-button">Back to Home</a>
        </section>
    </main>
    
    <!-- HTML สำหรับ Pop-up -->
    <div id="popup" class="popup">
        <span class="close" onclick="closePopup()">&times;</span>
        <h2>Upload Completed</h2>
        <p>Your files have been uploaded successfully.</p>
        <button onclick="closePopup()">OK</button>
    </div>

    <script>
        // เพิ่ม event listener ให้กับฟอร์ม
        document.getElementById('uploadForm').addEventListener('submit', function(event){
            // ป้องกันฟอร์มส่งข้อมูล
            event.preventDefault(); 
            // แสดง Pop-up
            document.getElementById('popup').style.display = 'block';
        });

        // ฟังก์ชันสำหรับปิด Pop-up
        function closePopup() {
            document.getElementById('popup').style.display = 'none';
            window.location.href = "{{ url_for('home') }}";
        }

    </script>
    <footer>
        <p>&copy; 2024 Class Scheduling Web App</p>
    </footer>
</body>
</html>
