<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload page</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Upload Files page</h1>
    <div class="container">
        <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
        <h2>Input Course (.csv file)</h2>
            <input type="file" name="file1" accept=".csv,.txt">
        <h2>Input Room (.csv file)</h2>
            <input type="file" name="file2" accept=".csv,.txt">
        <h2>Input Professor (.csv file)</h2>
            <input type="file" name="file3" accept=".csv,.txt">
        <h2>Input Student (.csv file)</h2>
            <input type="file" name="file3" accept=".csv,.txt">
            <button type="submit">Upload</button>
        </form>
    </div>
</body>
</html>
